@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Creator: @ViewData["Creator"]</p>

<address>
   E-mail: <a href="mailto:"> @ViewData["Email"]</a>
</address>